<div class="container">
    <div class="row">
        <div class="col s12 text center" id="main-title">
            <h1>Rising Tide Reviews</h1>
        </div>
    </div>

    <div class="row">
        <div class="col s12" id="movie-dock">
            <h3>Movies Dock</h3>
        </div>
    </div>

    <div class="row">
        <div class="col s12" id="movie-cards">
            <h5>movie cards go here</h5>
        </div>
    </div>
</div>