<div class="container">
    <h1 class="text-center mt-5">Movie Search</h1>
    <form action="" method="">
        <div class="input-group mb-3 mt-5">

            <input id="movieName" type="text" class="form-control" placeholder="Search for a Movie"
                aria-label="Movie Search" aria-describedby="search-movie">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" id="search-movie">Search</button>
            </div>
        </div>
    </form>

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/searchMovie.js"></script>