.list-group-item {
  line-height: 2.5;
}

.container {
  width: 90%;
}

#main-title {
  border: 2px solid black;
}

#movie-dock {
  border: 2px solid black;
}

#movie-cards {
  border: 2px solid black;
}