.list-group-item {
  line-height: 2.5;
}

.container {
  width: 97%;
}

#main-title {
  border: 2px solid black;
}

#movie-dock {
  border: 2px solid black;
}

#movie-cards {
  border: 2px solid black;
}

#next-btn, #back-btn {
  height: 300px
}
